* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e3f2fd;    
}

.container {
    margin: 0 auto;
    width: 1120px;
}

.mainheader {
    width: 100%;
    background-color: #bbdefb;
    color: #0d47a1;
    padding: 5px;
    margin: 0px;
   
}

.title {
    text-align: center;
    font-size: 50px;
}

.gener {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 0.02px solid #e3f2fd;
    border-bottom: 0.02px solid #e3f2fd;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.gener:before, .gener:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.gener:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}


.gener > div {
    margin : 7px;
    width: 100%;
}

.first {
 display: flex;
 width: 100%;
 justify-content: space-around;
}

.generdiv_first {
    display: flex;    
    flex-direction: column;
    width: 25%;
    margin: 8px 0;
    
}

.generdivfirst-input {
    height: 25px;
    width: 100px;
    outline: none;
    margin: 5px 0;
    border-radius: 7px;
    font-size: 15px;
    text-align: center;   
}

.generdiv_first-input {
    display: flex;
    justify-content: space-between;

}


label {
    font-weight: bold;
    align-self: center;
}

.generdiv_second {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 8px 0;
    width: 22%;
}

.generdiv_second-input {
    display: flex;
    justify-content: space-between;
}

.generdiv_third {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 20%;
    margin: 8px 0;
    
}

.generdiv_third-input {
    display: flex;
    justify-content: space-between;
    
}

.generdivthird-input {
    height: 25px;
    width: 100px;
    outline: none;
    margin: 5px 0;
    border-radius: 7px;
    font-size: 15px;
    text-align: center;
}

#border_collapse {
    text-align: left;
}

#font_select {
    height: 25px;
    width: 100px;
    outline: none;

}

#font_weight {
    height: 25px;
    width: 100px;
    outline: none;
}

#text_align {
    height: 25px;
    width: 100px;
    outline: none;
}

#font_size {
    height: 25px;
    width: 100px;
    outline: none;
}

.generdiv_fourth {
    text-align: center;
}

.btn_div > button {
    height: 45px;
    width: 120px;
    outline: none;
    margin-top: 15px;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
}

#gener-btn {
    background-color: #0d47a1;
    color: #ffffff;
}

#code-btn {
    background-color: #2196f3;
    color: #ffffff;
}

.getcode {
    color: #0d47a1;
    margin: 150px auto -150px auto;
    width: 80%;
    border: 1px solid black;
    overflow: hidden;
    padding: 5px;
    display: none;
}


table {
    margin: 0 auto;
    width: 80%;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(235, 127, 127, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}

table:before, table:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
table:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
     -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}


footer {
    height: 150px;
    text-align: center;    
    background-color: #bbdefb;
}

.footer_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;

}
.footer_h1 {
    margin: auto;
    font-size: 15px;
    
}
.wrapper {
    min-height: calc(100vh - 150px);
    margin-bottom: -150px; /*same height with footer*/
}

.psuedoel {
    content: '';
    display: block;
    height: 150px; /* same height with footer*/
  }
  